nav {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;

  .title {
    font-family: var(--font-display);
    margin: 0;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: 1.5rem;
    line-height: 0.5;
  }

  .title span {
    display: block;
    font-size: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5), 0 5px 0 rgba(0, 0, 0, 0.75);
  }
}
